html {
  font-size: 36px;
}

.container {
  width: 600px;
  margin: auto;
}

.exercise span {
  border-radius: 3px;
  padding: 1px;
}

.exercise {
  /*display: inline;*/
  margin-top: 20px;
  text-align: center;
}

.exercise-text {
  display: inline;
}

.exercise form {
  display: inline;
}

.number-input {
  font-size: 0.7rem;
  position: absolute;
  width: 20px;
}

.exercise input {
  margin-left: 10px;
  width: 30px;
}

.canvas {
  position: relative;
  width: 650px;
  height: 200px;
}

.hidden {
  display: none;
}
